{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula 
    neque quis venenatis luctus. Etiam placerat, mauris eu porttitor porta, lacus 
    sapien hendrerit metus, id pulvinar orci felis nec lorem. Mauris id consequat
    augue, vitae sagittis ligula. Maecenas ac erat at nibh rhoncus auctor non eu diam.
    Cras eu posuere leo. Nunc nunc magna, tempus ac bibendum sed, iaculis vel nunc.
    Nullam condimentum, nisi ut pulvinar aliquet, arcu massa efficitur nisl, ut 
    pulvinar ante lectus non ligula. Morbi ut erat lacus. Etiam porttitor velit ut 
    tellus aliquam, at tincidunt turpis tempor. Morbi auctor metus quam, molestie 
    fringilla magna elementum vitae. Vivamus ut mattis nunc. Duis nec laoreet augue. 
    Donec sit amet ullamcorper nulla. Sed congue in nibh sed maximus.</p>
{{end}}